{% extends 'common.html' %}
{% load static %}
{% block nagaraju %}
    <br>
    <br>
    <br>
    <table align="center">
      <tr>
          <th>
               <table align="center" border="3">
                 <tr align="center" style="color: greenyellow">
                   <th bgcolor="black" colspan="7">Add your Movies</th>
                 </tr>
                 <tr align="center" style="background-color: greenyellow;color: red">
                   <th>Movie Name</th>
                   <th>Type</th>
                   <th>Rank</th>
                   <th>Casting</th>
                   <th>Release Year</th>
                   <th>Image</th>
                   <th>option</th>
                 </tr>
                 {% for x in data %}
                 <tr>
                   <th>
                       <input type="text" value="{{ x.l }}" readonly name="m1">
                   </th>
                   <th>
                       <input type="text" value="{{ x.q }}" readonly name="m2">
                   </th>
                   <th>
                       <input type="number"  value="{{ x.rank }}" readonly name="m3">
                   </th>
                   <th>
                       <input type="text" value="{{ x.s }}" readonly name="m4">
                   </th>
                   <th>
                       <input type="number"  value="{{ x.y }}" readonly name="m5">
                   </th>
                   <th>
                         <img src="{{ x.i.imageUrl }}" width="100" height="100">
                   </th>
                   <th>
                       <a href="{% url 'savemovie' %}?m_name={{ x.l }}&m_type={{ x.q }}&m_rank={{ x.rank }}&m_cast={{ x.s }}&m_release={{ x.y }}&m_image={{ x.i.imageUrl }}">
                        <button type="submit" class="btn btn-success">Add</button>
                       </a>
                   </th>
                 </tr>
                 {% endfor %}
               </table>
          </th>
      </tr>
    </table>
{% endblock %}

