{% extends 'common.html' %}
{% load static %}
{% block nagaraju %}
  <br>
  <br>
  <br>
  <br>
  <table align="center">
    <tr style="color: blue">
        {% for x in data %}
         <th>
          <div class="card border-warning mb-3" style="max-width: 18rem;">
               <div class="card-image"><img src="{{ x.image }}" height="150" width="285"> </div>
          <div class="card-header">{{ x.moviename }}</div>
          <div class="card-body text-dark">
          <h5 class="card-title">Release On:-{{ x.release }}</h5>
          <p class="card-text">Starring:-{{ x.casting }}</p>
          </div>
          </div>
          </th>
        {% endfor %}
    </tr>
  </table>
{% endblock %}