{% extends 'common.html' %}
{% load static %}
{% block nagaraju %}
   <br>
   <br>
   <br>
   <br>
   <form action="{% url 'userloginhome' %}" method="post">
    {% csrf_token %}
   <table align="center">
      <tr align="center" style="background-color: blue;color: white">
          <th colspan="2">Login Here</th>
      </tr>
       {{ forms }}
      <tr align="center">
          <th colspan="2">
               <button type="submit" class="btn btn-primary">Login</button>
          </th>
      </tr>
      <tr align="center"style="background-color: dodgerblue;color: white">
          {% for x in messages %}
           <th colspan="2">{{ x }}</th>
          {% endfor %}
      </tr>
   <tr>
       <th style="font-size: 20px">
       <a href="{% url 'signuppage' %}">Signup Here</a>
       </th>
   </tr>
   </table>
   </form>
{% endblock %}