{% extends 'common.html' %}
{% load  static %}
{% block nagaraju %}
    <br>
    <br>
    <br>
    <br>
    <form action="{% url 'savesignup' %}" method="post">
     {% csrf_token %}
    <table align="center">
      <tr align="center">
          <th colspan="2" style="background-color: blue;color: white">SignUp Here</th>
      </tr>
         {{ forms }}
      <tr align="center">
          <th colspan="2"><button type="submit" class="btn btn-primary">SignUp</button></th>
      </tr>
      <tr align="center" style="background-color: blue;color: white">
          {% for x in messages %}
          <th colspan="2">
              {{ x }}
          </th>
          {% endfor %}
      </tr>
    <tr>
       <th style="font-size: 20px">
       <a href="{% url 'userlogin' %}">Login</a>
       </th>
   </tr>
    </table>
    </form>
{% endblock %}